config.json
.env
.vscode/settings.json
bot_commands.py check.py
token.txt
slash_commands.py
test_bot_2.py
discord.py
__pycache__/functions.cpython-310.pyc
imgur.py
discord2.py
__pycache__/discord.cpython-310.pyc
__pycache__/test.cpython-310.pyc
test.py
imgur.txt
QualityYouTubeBot.bat
QualityYouTubeBot.vbs
discord_test.py
.gitignore
allowed_channels.pkl
anything.bat
banner.png
channels.py
channels.txt
error.log
index.htm
listchannels.py
open_AI_API_test.py
openai1.py
pytube version.py
pytube2.py
quality.bat
qualityyoutube.zip
__pycache__/openai.cpython-310.pyc
__pycache__/openai1.cpython-310.pyc
__pycache__/pytube.cpython-310.pyc
